

 <footer>
    <div class="content">
      <div class="left box">
        <div class="upper">
          <div class="topic">
           <a href="/about_us" >About us</a>
           </div>
          <p>Matrix designed a responsive website for evemts organised by schools,colleges and institutions</p>
        </div>
        <div class="lower">
          <div class="topic">Contact us</div>
          <div class="phone">
            <a href="/about_us"><i class="fas fa-phone-volume"></i>+91 7358508609</a>
          </div>
          <div class="email">
            <a href="/about_us"><i class="fas fa-envelope"></i>matrixteamsit@gmail.com</a>
          </div>
        </div>
      </div>
     
      <div class="right box">
        <div class="topic">Team Matrix</div>
        <p>Team Of Four</p>
        <a href="https://github.com/TeamMatrixSit"  target="_blank"><i>Click here to view github profile</i></a>
      </div>
    </div>
    <div class="bottom">
      <p>Copyright &#169; 2021 <a href="/about_us">TeamMatrix</a> All rights reserved</p>
    </div>
  </footer>
 
