<!DOCTYPE html>
<html lang="en">

    <head>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

        <link rel="stylesheet" href="dash/about_us.css"> 
        <title>Enovents!</title>
        <style>
            .center1{
                text-align: center;
            }
        </style>
         <%- include('partials/header') %>
    </head>
    <body>
        <div class="container">
             <div class="row">
                 <div class="heading-title text-center">
                            <h3 class="text-uppercase">Meet The Team Matrix</h3>
                            <p class="p-top-30 half-txt">Our team is well co-ordinated with people having practical and theoritical knowledge from different domains in computer science</p>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="css/Nithish.png" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>Hi There !</h4>
                                        <p>I love to introduce myself as a hardcore DevOps and full stack developer.</p>
                                    </div>
                                   
                                </div>
                            </div>
                            <div class="team-title">
                                <h5>Nithish R</h5>
                                <span>Team Lead, Full stack developer</span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="css/sundar.png" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>Hello World</h4>
                                        <p>I love to introduce myself as a hardcore Web Designer.</p>
                                    </div>
                                   
                                </div>
                            </div>
                            <div class="team-title">
                                <h5>Sundarakalathi K</h5>
                                <span>Front-end Developer</span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="css/Santhosh.png" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>I am an explorer</h4>
                                        <p>I love to introduce myself as a Data Science enthusiastic Web Designer.</p>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="team-title">
                                <h5>Santhosh B</h5>
                                <span>Data science enthusiastic, Front-end developer</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="container">
                   
                    <div IMG class="col-md-4 col-sm-4 center1" >
                        <div IMG class="team-member">
                            <div IMG class="team-img">
                                <img src="css/Monish.png" alt="team member" class="img-responsive">
                            </div>
                            <div class="team-hover">
                                <div class="desk">
                                    <h4>I love to design</h4>
                                    <p>I love to introduce myself as a hardcore Web Designer.</p>
                                </div>
                                
                            </div>
                        </div>
                        <div class="team-title">
                            <h5>Monish Kumar S S</h5>
                            <span>Front-end developer</span>
                        </div>
                    </div>
                    </div>
             </div>
        </div>

        
  <%- include('partials/footer') %>
     </body>
</html>