<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Event!</title>
</head>



<body>
  <div id="Ongoing">
    <h1>Ongoing</h1> <br>



    <% on.forEach(ele=>{ %>
    <h1><%=ele.event_name%></h1>
    <%})%>


  </div> <br>
  <div id="Upcoming">
    <h1>Upcoming</h1>

    <% up.forEach(ele=>{ %>
      <h1><%=ele.event_name%></h1>
      <%})%>


  </div> <br>
  <div id="Missed">
    <h1>Missed</h1>

    <% miss.forEach(ele=>{ %>
      <h1><%=ele.event_name%></h1>
      <%})%>


  </div> <br>
</body>




</html>