<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.17/tailwind-dark.min.css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="css/style.css" />
    <title>Events</title>
  </head>
  <body class="font-Poppins">
    
    <header>
      <nav class="container flex items-center py-4 mt-4 sm:mt-12">
        <div class="py-1"><img src="imgs/logoevent.png" alt="" /></div>
        <ul class="hidden sm:flex flex-1 justify-end items-center gap-12 text-bookmark-blue uppercase text-xs">
          <li class="cursor-pointer">Features</li>
          <li class="cursor-pointer">FAQ</li>
          <li class="cursor-pointer">Contact</li>
          <form action="/login" method="get">
            <button type="submit" class="bg-bookmark-red text-white rounded-md px-7 py-3 uppercase" >Login</button>
          </form>
          
        </ul>
        <div class="flex sm:hidden flex-1 justify-end">
          <i class="text-2xl fas fa-bars"></i>
        </div>
      </nav>
    </header>

    
    <section class="relative">
      <div class="container flex flex-col-reverse lg:flex-row items-center gap-12 mt-14 lg:mt-28">
       
        <div class="flex flex-1 flex-col items-center lg:items-start">
          <h2 class="text-bookmark-blue text-3xl md:text-4 lg:text-5xl text-center lg:text-left mb-6">
            Events or Symposiums or Hackathons or any other college cultural events
          </h2>
          <p class="text-bookmark-grey text-lg text-center lg:text-left mb-6">
            A clean and simple interface to gothrough the diiferent events or competitions happening at different venues.Simply create an account and get benefitted 
            by participating in the events 
          </p>
          <div class="flex justify-center flex-wrap gap-6">
            <button type="button" class="btn btn-purple hover:bg-bookmark-white hover:text-black">
              Signup
            </button>
            <button type="button" class="btn btn-white hover:bg-bookmark-purple hover:text-white">
              Login
            </button>
          </div>
        </div>
        
        <div class="flex justify-center flex-1 mb-10 md:mb-16 lg:mb-0 z-10">
          <img class="w-5/6 h-5/6 sm:w-3/4 sm:h-3/4 md:w-full md:h-full" src="./imgs/discuss_event.png" alt="" />
        </div>
      </div>
      
    </section>

    
    <section class="bg-bookmark-white py-20 mt-20 lg:mt-60">
      
      <div class="sm:w-3/4 lg:w-5/12 mx-auto px-2">
        <h1 class="text-3xl text-center text-bookmark-blue">Features</h1>
        <p class="text-center text-bookmark-grey mt-4">
          The main feature of our website is that we will display all the events categorized under each category.
          Session date and time are the cool features which enables the participants to register prior to the event.
          New event can be added by the respective account holders with their access credentials.
        </p>
      </div>
     
      <div class="relative mt-20 lg:mt-24">
        <div class="container flex flex-col lg:flex-row items-center justify-center gap-x-24">
         
          <div class="flex flex-1 justify-center z-10 mb-10 lg:mb-0">
            <img
              class="w-5/6 h-5/6 sm:w-3/4 sm:h-3/4 md:w-full md:h-full"
              src="./imgs/illustration-features-tab-1.png"
              alt=""
            />
          </div>
          
          <div class="flex flex-1 flex-col items-center lg:items-start">
            <h1 class="text-3xl text-bookmark-blue">MISSED EVENTS</h1>
            <p class="text-bookmark-grey my-4 text-center lg:text-left sm:w-3/4 lg:w-full">
              The events which are missed by the participants are displayed here.This feature gives an acknowledgement to the user about the missed event.(which means that the event date has been expired) 
            </p>
            <button type="button" class="btn btn-purple hover:bg-bookmark-white hover:text-black">More Info</button>
          </div>
        </div>
        
      </div>
      
      <div class="relative mt-20 lg:mt-52">
        <div class="container flex flex-col lg:flex-row-reverse items-center justify-center gap-x-24">
          <!-- Image -->
          <div class="flex flex-1 justify-center z-10 mb-10 lg:mb-0">
            <img
              class="w-5/6 h-5/6 sm:w-3/4 sm:h-3/4 md:w-full md:h-full"
              src="./imgs/illustration-features-tab-2.png"
              alt=""
            />
          </div>
          <!-- Content -->
          <div class="flex flex-1 flex-col items-center lg:items-start">
            <h1 class="text-3xl text-bookmark-blue">ONGOING EVENTS</h1>
            <p class="text-bookmark-grey my-4 text-center lg:text-left sm:w-3/4 lg:w-full">
              As the name suggests, this section displays the events which are currently happening (which means that the event start date has occured) 
            </p>
            <button type="button" class="btn btn-purple hover:bg-bookmark-white hover:text-black">More Info</button>
          </div>
        </div>
        <!-- Rounded Rectangle -->
        <div
          class="
            hidden
            lg:block
            overflow-hidden
            bg-bookmark-purple
            rounded-l-full
            absolute
            h-80
            w-2/4
            -bottom-24
            -right-36
          "
        ></div>
      </div>
      
      <div class="relative mt-20 lg:mt-52">
        <div class="container flex flex-col lg:flex-row items-center justify-center gap-x-24">
          <!-- Image -->
          <div class="flex flex-1 justify-center z-10 mb-10 lg:mb-0">
            <img
              class="w-5/6 h-5/6 sm:w-3/4 sm:h-3/4 md:w-full md:h-full"
              src="./imgs/illustration-features-tab-3.png"
              alt=""
            />
          </div>
          
          <div class="flex flex-1 flex-col items-center lg:items-start">
            <h1 class="text-3xl text-bookmark-blue">FUTURE EVENTS</h1>
            <p class="text-bookmark-grey my-4 text-center lg:text-left sm:w-3/4 lg:w-full">
              Here the events which are scheduled for registration period are displayed here.In this section, the participants can register for the events with their team or as an individual as stated.
            </p>
            <button type="button" class="btn btn-purple hover:bg-bookmark-white hover:text-black">More Info</button>
          </div>
        </div>
        <!-- Rounded Rectangle -->
        <div
          class="
            hidden
            lg:block
            overflow-hidden
            bg-bookmark-purple
            rounded-r-full
            absolute
            h-80
            w-2/4
            -bottom-24
            -left-36
          "
        ></div>
      </div>
    </section>

    
    <section class="py-20 mt-20">
     
      <div class="sm:w-3/4 lg:w-5/12 mx-auto px-2">
        <h1 class="text-3xl text-center text-bookmark-blue">Our main features</h1>
        <p class="text-center text-bookmark-grey mt-4">
          We’ve got more features 
        </p>
      </div>
      
      <div class="container grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-16 max-w-screen-lg mt-16">
        
        <div class="flex flex-col rounded-md shadow-md lg:mb-16">
          <div class="p-6 flex flex-col items-center">
            <img src="./imgs/add_event.png" alt="" />
            <h3 class="mt-5 mb-2 text-bookmark-blue text-lg">ADD EVENT</h3>
            <p class="mb-2 text-bookmark-grey font-light">Easily add events with description</p>
          </div>
          <hr class="border-b border-bookmark-white" />
          <div class="flex p-6">
            <button type="button" class="flex-1 btn btn-purple hover:bg-bookmark-white hover:text-black">
              Add Event
            </button>
          </div>
        </div>
        
        <div class="flex flex-col rounded-md shadow-md lg:my-8">
          <div class="p-6 flex flex-col items-center">
            <img src="./imgs/register_event.png" alt="" />
            <h3 class="mt-5 mb-2 text-bookmark-blue text-lg">REGISTER</h3>
            <p class="mb-2 text-bookmark-grey font-light">Participants can register for an event on one-click</p>
          </div>
          <hr class="border-b border-bookmark-white" />
          <div class="flex p-6">
            <button type="button" class="flex-1 btn btn-purple hover:bg-bookmark-white hover:text-black">
              Register event
            </button>
          </div>
        </div>
        
        <div class="flex flex-col rounded-md shadow-md lg:mt-16">
          <div class="p-6 flex flex-col items-center">
            <img src="./imgs/profile1.png" alt="" />
            <h3 class="mt-5 mb-2 text-bookmark-blue text-lg">View 
              profile
            </h3>
            <p class="mb-2 text-bookmark-grey font-light">Participants profile displays the registered and participated events of the user</p>
          </div>
          <hr class="border-b border-bookmark-white" />
          <div class="flex p-6">
            <button type="button" class="flex-1 btn btn-purple hover:bg-bookmark-white hover:text-black">
              View Profile
            </button>
          </div>
        </div>
      </div>
    </section>

    
    <section class="bg-bookmark-white py-20">
      <div class="container">
        
        <div class="sm:w-3/4 lg:w-5/12 mx-auto px-2">
          <h1 class="text-3xl text-center text-bookmark-blue">Frequently Asked Questions</h1>
          <p class="text-center text-bookmark-grey mt-4">
            Here are some of our FAQs. If you have any other questions you’d like answered please feel free to email us.
          </p>
        </div>
        
        <div class="flex flex-col sm:w-3/4 lg:w-5/12 mt-12 mx-auto">
          <div class="flex items-center border-b py-4">
            <span class="flex-1">How to register an event?</span>
            <i class="text-bookmark-purple fas fa-chevron-down"></i>
          </div>
          <div class="flex items-center border-b py-4">
            <span class="flex-1">How to create an event?</span>
            <i class="text-bookmark-purple fas fa-chevron-down"></i>
          </div>
          <div class="flex items-center border-b py-4">
            <span class="flex-1">Can I register for the event after the end date?</span>
            <i class="text-bookmark-purple fas fa-chevron-down"></i>
          </div>
          <div class="flex items-center border-b py-4">
            <span class="flex-1">Who can participate?</span>
            <i class="text-bookmark-purple fas fa-chevron-down"></i>
          </div>
          <button type="button" class="mt-12 flex self-center btn btn-purple hover:bg-bookmark-white hover:text-black">
            More Info
          </button>
        </div>
      </div>
    </section>

  
    <section class="bg-bookmark-purple text-white py-20">
      <div class="container">
        <div class="sm:w-3/4 lg:w-2/4 mx-auto">
          <p class="font-light uppercase text-center mb-8">Register now and compete with your fellow aspirants</p>
          <h1 class="text-3xl text-center">Mail us your Queries any time</h1>
          <div class="flex flex-col sm:flex-row gap-6 mt-8">
            <input
              type="text"
              placeholder="Enter your email address"
              class="focus:outline-none flex-1 px-2 py-3 rounded-md text-black"
            />
            <button type="button" class="btn bg-bookmark-red hover:bg-bookmark-white hover:text-black">
              Contact Us
            </button>
          </div>
        </div>
      </div>
    </section>

   
    <footer class="bg-bookmark-blue py-8">
      <div class="container flex flex-col md:flex-row items-center">
        <div class="flex flex-1 flex-wrap items-center justify-center md:justify-start gap-12">
          <img src="./imgs/logoevent.png" alt="" />
          <ul class="flex text-white uppercase gap-12 text-xs">
            <li class="cursor-pointer">Features</li>
            <li class="cursor-pointer">FAQ</li>
            <li class="cursor-pointer">Contact us</li>
          </ul>
        </div>
        <div class="flex gap-10 mt-12 md:mt-0">
          <li><i class="text-white text-2xl fab fa-twitter"></i></li>
          <li><i class="text-white text-2xl fab fa-facebook-square"></i></li>
        </div>
      </div>
    </footer>
  </body>
</html>